@use '@carbon/colors';

.vitalInputContainer {
  position: relative;
}

.criticalValue {
  :global(.cds--number) {
    background-color: colors.$red-10;
  }
}

.highValue {
  :global(.cds--number) {
    background-color: colors.$orange-10;
  }
}

.lowValue {
  :global(.cds--number) {
    background-color: colors.$orange-10;
  }
}

.criticallyLowValue {
  :global(.cds--number) {
    background-color: colors.$red-10;
  }
}

.interpretationIndicator {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}

.criticalHighIndicator {
  color: colors.$red-60;

  &::after {
    content: ' ↑↑';
  }
}

.highIndicator {
  color: colors.$orange-40;

  &::after {
    content: ' ↑';
  }
}

.lowIndicator {
  color: colors.$orange-40;

  &::after {
    content: ' ↓';
  }
}

.criticalLowIndicator {
  color: colors.$red-60;

  &::after {
    content: ' ↓↓';
  }
}
