@use '@carbon/layout';

.priorityCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacing-05;
  width: 100%;
  
  // Each priority card
  > * {
    flex: 1 1 0;
    min-width: 16rem;
    max-width: 25%;

    @media (max-width: 1200px) {
      min-width: 45%;
      max-width: 48%;
    }

    @media (max-width: 768px) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

