.widgetCard {
  padding: 0;
}

.backgroundDataFetchingIndicator {
  display: flex;
  align-items: center;
}

.headerActionItems {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.divider {
  color: var(--cds-text-secondary);
}
