.chartContainer {
  display: flex;
  flex-direction: column;
}

.metricsArea {
  display: flex;
}

.metricLabel {
  display: block;
}

.verticalTabs {
  display: flex;
}

.tablist {
  flex: 0 0 auto;
}

.tab {
  cursor: pointer;
}

.selectedTab {
  font-weight: 600;
}

.chartArea {
  flex: 1 1 auto;
}
