.criticallyHigh {
  color: var(--cds-support-error);
  font-weight: 600;
}

.criticallyLow {
  color: var(--cds-support-error);
  font-weight: 600;
}

.high {
  color: var(--cds-support-warning);
}

.low {
  color: var(--cds-support-warning);
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
}
